.chatBody
  margin-top: 15px
  border-radius: 15px
  // background-color: #fff
  box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.8)
  background-color: #1a1f23
  width: 100%
  height: 73.5%
  overflow: hidden

.chatBody__container
  width: 104%
  height: 100%
  overflow-y: scroll
  scroll-behavior: smooth
  box-sizing: content-box
  background-color: transparent
  display: flex
  flex-direction: column
  align-items: flex-start


  // right: -20px